{
  "presets":[ "react", "es2015", "es3", "es2015-mod"],
  "env": {
    "test": {
      "plugins": [
        [ "babel-plugin-webpack-alias", { "config": "./webpack.production.config.js" } ]
      ]
    }
  }
}